defaults
    timeout connect 10s
    timeout client 30s
    timeout server 30s
    log global
    mode http
    option httplog
    maxconn 3000

frontend  http
    bind :80
    use_backend tw-auth  if { path_beg /auth/ }
    use_backend tw-auth if { path_beg /user/ }
    use_backend tw-tweet if { path_beg /tweet/ }
    use_backend tw-timeline if { path_beg /timeline/ }

backend tw-auth
    balance roundrobin
    server server2 auth:8080 check

backend tw-tweet
    balance roundrobin
    server server3 192.168.18.11:8090 check  

backend tw-timeline
    balance roundrobin
    server server4 192.168.18.11:8100 check  
